* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
}


body{
    display: inline-block;
    width: 100vw;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    justify-content: center;
    
    
    
  
  
  
}



.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;


}

h1 {
    margin: 0;
    font-size: 5rem;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: #333;
    color: #fff;

}

nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;

}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
    transition: all 0.2s ease;
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
}

/* Navbar Section end */

/* Homepage Section */

.homePage {
    margin: 0 auto;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
}

.homePageWeb3 {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    height: 100%;
    width: 100%;
   
}

.homePageWeb3 img {
    max-width: 100%;
    height: auto;
}



.homePageWeb3Container{
    display: flex;
     width: 700px;
     justify-content: center;
    margin-top: 1rem;

}


.homePageWeb3ContainerReed{
    width: 100%;
}

.homePageWeb3 p{
    line-height: 1.5;
}


.homePageWeb3 h1{
    font-size:3rem;
   
}

.homePageWeb3 button{
    background: hsl(5, 85%, 63%);
    color:white;
    padding: 10px 20px;
    border:none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight:bold;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 8px;
    margin-top: 1rem;
    text-align: center;
    display: inline-block;
    border-radius: 0.5rem;
}



.homwPageNew {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: black;
    width: 40%;
    height:100%;
    color: white;
    justify-content: center;
    

}

.homwPageNew h1 {
    padding-bottom: 1rem;
    color: hsl(35, 77%, 62%);
    font-size: 2rem;
}



.homwPageNew h2 {

    font-size: 1rem;
    
}

.homwPageNew p {
    font-size: 0.8rem;
    line-height: 1.5;
}

.homwPageNewHeads{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    flex-direction: column;
}




.imagesShowcase{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  
  padding: 3rem;
  justify-content: center;
  align-items: center;
}


.showcase{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.showcase img{
    max-width: 30%;
    height: auto;
    margin-right: 20px;
}

.text-content{
    flex: 1;
    
}